@page "/muziekschool"

<h1>Welkom bij Muziekschool Barneveld!</h1>

<p></p>

<p>Via de muziekschool van Barneveld kunt u uw muzikale vaardigheden verbreden.</p>

<p></p>

<div class="container">
    <div class="center">
        <a href="" class="btn homeknop btn-sep icon-music">Agenda</a>
    </div>
</div>

<div class="container">
    <div class="center">
        <a href="" class="btn homeknop btn-sep icon-music">Een afspraak maken</a>
    </div>
</div>