@page "/Theater"
@using WebAppUserInterfaceCultuurplein1.Data
@using WebAppUserInterfaceCultuurplein1db.data.WebAppUserInterfaceCultuurplein1


@inherits OwningComponentBase<UserInterfaceService>

<h1><img src="/Images/Schaff2.png" asp-append-version="true" width="90%" height="auto" /></h1>


<h2>Welkom bij het Theater onderdeel van Cultuurplein1</h2>

<div class="container">
    <div class="center">
        <a href="/Voorstellingen" class="btn homeknop btn-sep icon-theatre">Voorstellingen</a>
    </div>
</div>

<div class="container">
    <div class="center">
        <a href="/inrichting" class="btn homeknop btn-sep icon-info2">Help met onze inrichting!</a>
    </div>
</div>